header{
    background-color: black;
    color: white;
}

.titulo{
    text-align: center;
}

nav{
    width: 98%;
margin: 1rem;
}

.flex{
    display: flex;
    justify-content: center;
}

.nav-link:hover{
background-color: lightgrey;
color:black;

}

footer{
    background-color: black;
}

i, h3{
    color: white;
    text-align: center;
}

.iconos{
    text-align: center;
}

.gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
    grid-template-rows: repeat(3,auto-fit);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img{
    height: 60vh;
}

h5, p{
    color: white;
}

#texto1, #texto2{
    padding: 5%;
    background-color: gray;
    color: white;
    font-size: 90%;
}

#texto1{
    grid-column-start: 1;
    grid-column-end: 2;
}

#carrousel{
    grid-column-start: 2;
    grid-column-end: 4;
}

#texto2{
    grid-column-start: 4;
    grid-column-end: 5;
}



@media screen and (max-width:768px){
    #texto1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    
    #carrousel{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    #texto2{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 7;
    }
    
}

@media screen and (max-width:425px){
    #texto1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    #carrousel{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    #texto2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    #texto1, #texto2{
        font-size: 80%;
    }

    img{
        height: 50vh;
    }
}
